{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <header class="row">
            <div class="col">
                <h1>{{ incident.subject }}</h1>
                <p>{{ incident.explanation }}</p>
            </div>
        </header>

        <div class="row">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.hourly_rate.errors }}
                    <label for="{{ form.hourly_rate.id_for_label }}">Rate:</label>
                    {{ form.hourly_rate }}
                </div>
                {% for choice in form.status %}
                <div class="form-check">
                    {{ choice.tag }}
                    <label class="form-check-label" for="{{ choice.tag.id_for_label }}">
                        {{ choice.choice_label }}
                    </label>
                </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock content %}