<div class="card w-100">
    <div class="card-header bg-transparent border-light">
      <div class="d-flex justify-content-between">
        Answers
        <i class="bi bi-three-dots-vertical"></i>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-borderless">
          <caption>Answer list</caption>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Text</td>
              <td>Text</td>
              <td>Text</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Text</td>
              <td>Text</td>
              <td>Text</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Text</td>
              <td>Text</td>
              <td>Text</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Text</td>
              <td>Text</td>
              <td>Text</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Text</td>
              <td>Text</td>
              <td>Text</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>