<div class="card w-100">
    <div class="card-header bg-transparent border-light">
        <div class="d-flex justify-content-between">
          Expenses
          <i class="bi bi-three-dots-vertical"></i>
        </div>
    </div>
    <div class="card-body">
        <canvas id="expensesChart" height="75"></canvas>
    </div>
</div>

{% comment %} 
Bar charts are good for comparisons, while line charts work better for trends. 
Scatter plot charts are good for relationships and distributions, 
but pie charts should be used only for simple compositions — never for comparisons or distributions.

Sales, refunds, user sign ups, client demographics, common problems, 
{% endcomment %}