<div class="card w-100">
    <div class="card-header bg-transparent border-light">
        <div class="d-flex justify-content-between">
            Open Tickets
            <i class="bi bi-three-dots-vertical"></i>
        </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-borderless">
          <caption>Open ticket list</caption>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Text</td>
              <td>Text</td>
              <td>
                <span class="badge rounded-pill bg-danger w-100" style="--bs-bg-opacity: .8;">Cancelled</span>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Text</td>
              <td>Text</td>
              <td>
                <span class="badge rounded-pill bg-primary w-100" style="--bs-bg-opacity: .8;">In Progress</span>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Text</td>
              <td>Text</td>
              <td>
                <span class="badge rounded-pill bg-success w-100" style="--bs-bg-opacity: .8;">Complete</span>
              </td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Text</td>
              <td>Text</td>
              <td>
                <span class="badge rounded-pill bg-info w-100" style="--bs-bg-opacity: .8;">Summited</span>
              </td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Text</td>
              <td>Text</td>
              <td>
                <span class="badge rounded-pill bg-secondary w-100" style="--bs-bg-opacity: .8;">Paused</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>