{% load static %}
<div class="card w-100">
    <div class="card-header bg-transparent border-light">Progress</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-borderless">
          <caption>Message list</caption>
          <thead>
            <tr>
              <th scope="col">User</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="w-25" scope="row">
                <img src="{% static 'images/p1.jpg' %}" style="width: 40%" class="img-thumbnail rounded-circle" alt="..." />
              </td>
              <td>Text</td>
              <td>Text</td>
              <td>Text</td>
            </tr>
            <tr>
              <td class="w-25" scope="row">
                <img src="{% static 'images/p1.jpg' %}" style="width: 40%" class="img-thumbnail rounded-circle" alt="..." />
              </td>
              <td>Text</td>
              <td>Text</td>
              <td>Text</td>
            </tr>
            <tr>
              <td class="w-25" scope="row">
                <img src="{% static 'images/p1.jpg' %}" style="width: 40%" class="img-thumbnail rounded-circle" alt="..." />
              </td>
              <td>Text</td>
              <td>Text</td>
              <td>Text</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>