{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table caption-top">
          <caption>
            List of incidents
          </caption>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Subject</th>
              <th scope="col">Client</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for incident in incidents %}
            <tr>
              <th scope="row">{{ incident.id }}</th>
              <td>
                <a href="{% url 'incidents:review_repair' repair.id %}"
                  >{{ incident.subject }}</a
                >
              </td>
              <td>{{ incident.client.identity.name }}</td>
              <td>{{ incident.status }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
