<div class="container">
    <div class="row">
        <!-- Device table -->
        <div class="col-md-12">
            <div class="inner">
                <h3>My Service Orders</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Problem</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of ServiceOrderList">
                            <th scope="row">{{order.id}}</th>
                            <td>{{order.problem}}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/edit-service-order/', order.id]">Edit</button>
                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteServiceOrder(order)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>